@model EntityLayer.Concrete.Experience

@{
    ViewData["Title"] = "UpdateExperience";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Deneyim Güncelleme Sayfası</h3>
</div>

@using (Html.BeginForm("UpdateExperience", "Experience", FormMethod.Post))
{
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-description"> Deneyim Düzenleme Paneli </p>
                <form class="forms-sample">
                    <div class="form-group">
                        <label>ID</label>
                     @Html.TextBoxFor(x=>x.ExperienceID, new {@class ="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Başlık</label>
                        @Html.TextBoxFor(x=>x.Name, new {@class ="form-control"})

                    </div>
                    <div class="form-group">
                        <label>Tarih</label>
                        @Html.TextBoxFor(x=>x.Date, new {@class ="form-control"})

                    </div>
                    <div class="form-group">
                        <label>Görsel</label>
                        @Html.TextBoxFor(x=>x.ImageUrl, new {@class ="form-control"})
                    </div>
                    <div class="form-group">
                        <label>Açıklama</label>
                        @Html.TextAreaFor(x=>x.Descripiton, 6, 3, new {@class ="form-control"})
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <button class="btn btn-dark">İptal</button>
                </form>
            </div>
        </div>
    </div>
}



